html, body {
  height: 100%;
  background: white;
}

/*** Other stuff ***/

core-scaffold .core-header-panel {
  background: #34495e;
  height: 100%;
}

core-scaffold::shadow core-toolbar { background: #2b3d4f; }
core-scaffold core-toolbar { background: #2b3d4f; }

core-scaffold::shadow core-header-panel {  background: white; }
core-scaffold core-header-panel {  background: white; }

core-scaffold::shadow #mainContainer {
  background: white;
  height: 100%;
}

core-scaffold::shadow #topBar {
  background: #35495d;
}

core-scaffold .core-toolbar{
  position: absolute;
  width: 100%;
  background: #34495e;
}

core-scaffold .search-header {
  color: white;
}

core-scaffold::shadow .search-header {
  color: white;
}

core-scaffold .sentiment-cards-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: white;
}

::content > * {
  margin: 0;
}

core-scaffold .header-title {
  font-weight: 100;
  font-family: 'Kaushan Script', cursive;
  font-size: 38px;
  text-overflow: ellipsis;
  cursor: pointer;
  width: 100%;
  color: #ececec;
  padding-left: 20px;
  display: inline;
}

.stopselect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

core-scaffold .paper-tabs {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  width: 100%;
}

core-scaffold core-toolbar #bottomBar{
  width: 100%;
  background: #2d3e4f;
  padding: 0px;
  margin: 0px;
}

core-scaffold paper-tabs {
  width: 100%;
  font-weight: 100;
  background: #2c3e50;
  border-bottom: 1px solid #2d3e4f;
  font-family: 'Roboto','Helvetica', sans-serif;
}

core-scaffold paper-tab #ink { color: #adb6be; cursor: pointer; }
core-scaffold paper-tabs #selectionBar { background-color: white;  height: 4px; }
core-scaffold paper-tab::shadow #ink { color: #adb6be; cursor: pointer; }
core-scaffold paper-tabs::shadow #selectionBar { background-color: white;  height: 4px; }


/** Login **/

#login-buttons {
  position: relative;
  margin: 10px;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 300;

  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;*/
}

.login-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #ececec;
  font-weight: 300;
  margin-top: 15px;
}

.login-form input {
  border-radius: 3px;
  border: 1px solid #37336b;
  background: white;
  color: black;
  padding: 2px;
  margin: 2px;
}

#login-email-label-and-input {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-top: 5px;
}

#login-password-label-and-input {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-top: 5px;
}

.accounts-dialog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 5px;
  color: #ececec;
}

.login-button {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border: 1px solid #afb9c4;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  color: #ececec;
  cursor: pointer;
  font-weight: 300;
}

.login-link-text {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border: 1px solid #afb9c4;
  border-radius: 5px;
  margin-top: 15px;
  padding: 5px;
  color: #ececec;
  cursor: pointer;
  font-weight: 300;
}

.login-link-text:hover {
  color: #ececec;
}

.login-close-text {
  position: absolute;
  right: 0;
  top: -20px;
  /*align-self: flex-end;*/
  border: 1px solid #d0495a;
  border-radius: 5px;
  margin-top: 15px;
  padding: 5px;
  color: #ce4a5c;
  cursor: pointer;
  font-weight: 300;
}

#forgot-password-email-label-and-input {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.login-close-text:hover {
  color: #ce4a5c;
}

.error-message {
  color: #ce4a5c;
}

.additional-link-container a {
  color: #9ea4a8;
  cursor: pointer;
}

.additional-link-container a:hover {
  color: #9ea4a8;
  text-decoration: none;
}

.user-profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.user-photo-account {
  background-image: url("images/user1.png");
  background-size: cover;
  width:  100px;
  height: 100px;
  border-radius: 50%;
  margin: 8px;
  /*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
}

.user-name-account {
  color: #ececec;
  font-weight: 100;
  font-size:  22px;
  opacity: 0.85;
  filter: alpha(opacity=85);
}

/*** Sidebar ***/

.expression-description {
  padding: 10px;
  color: rgba(225, 225, 225, 0.75);
  font-size: 12px;
  font-family: Roboto,Helvetica, sans-serif;
  font-weight: 300;
}
