html, body {
  height: 100%;
  margin: 0;
  padding:0;
  background: #f4f4f4;
}

* {
  margin: 0;
  padding:0;
}

/*** Other stuff ***/

.core-header-panel {
  background: #34495d;
  height: 100%;
}

core-scaffold::shadow core-toolbar {
  background: #34495d;
  height: 128px;
}

core-scaffold::shadow core-header-panel {
  color: black;
  width: 100%;
}

core-scaffold::shadow #menuButton {
  top: 10px;
  left:0px;
  z-index: 1;
  position: absolute;
}

.core-toolbar{
  position: absolute;
  width: 100%;
  background: #34495d;
}

.top-header {
  top: 0;
  height:100%;
  width: 100%;
  position: absolute;
}

.search-header {
  right: 25px;
  padding:5px;
  width: 30px;
  height:30px;
}

.sentiment-cards-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /*background: #e3e3e3;*/
}

::content > * {
   margin: 0;
}

.header-title {
  font-weight: 100;
  font-family: 'Kaushan Script', cursive;
  font-size: 38px;
  text-overflow: ellipsis;
  cursor: pointer;
  width: 100%;
  color: #bec6cc;
  padding-left: 20px;
}

.stopselect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.paper-tabs {
  position: absolute;
  bottom: 0px;
  left: -16px;
  color: white;
  width: 100%;
}

paper-tabs {
  width: 100%;
  font-weight: 100;
  background: #39516b;
  border-bottom: 1px solid #314557;
  font-family: 'Roboto','Helvetica', sans-serif;
}

paper-tab::shadow #ink {
  color: #adb6be;
}

paper-tabs::shadow #selectionBar {
  background-color: #eeeeee;
  /*background-color: white;*/
  height: 4px;
}
