html, body {
  height: 100%;
}

/*** Other stuff ***/

core-scaffold .core-header-panel {
  background: #34495d;
  height: 100%;
}

core-scaffold::shadow core-toolbar {
  background: #34495d;
  height: 128px;
}

core-scaffold::shadow core-header-panel {
  color: black;
  width: 100%;
}

core-scaffold::shadow #menuButton {
  top: 10px;
  left:0px;
  z-index: 1;
  position: absolute;
}

core-scaffold .core-toolbar{
  position: absolute;
  width: 100%;
  background: #34495d;
}

core-scaffold .top-header {
  top: 0;
  height:100%;
  width: 100%;
  position: absolute;
}

core-scaffold .search-header {
  right: 25px;
  padding:5px;
  width: 30px;
  height:30px;
}

core-scaffold .sentiment-cards-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /*background: #e3e3e3;*/
}

::content > * {
   margin: 0;
}

core-scaffold .header-title {
  font-weight: 100;
  font-family: 'Kaushan Script', cursive;
  font-size: 38px;
  text-overflow: ellipsis;
  cursor: pointer;
  width: 100%;
  color: #ececec;
  padding-left: 20px;
}

.stopselect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

core-scaffold .paper-tabs {
  position: absolute;
  bottom: 0px;
  left: -16px;
  color: white;
  width: 100%;
}

core-scaffold paper-tabs {
  width: 100%;
  font-weight: 100;
  background: #39516b;
  border-bottom: 1px solid #3f556e;
  font-family: 'Roboto','Helvetica', sans-serif;
}

core-scaffold paper-tab::shadow #ink {
  color: #adb6be;
  cursor: pointer;
}

core-scaffold paper-tabs::shadow #selectionBar {
  background-color: #eeeeee;
  height: 4px;
}


/** Login **/

#login-buttons {
  background: #3a516a;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 300;
}

.login-link-text {
  display: none;
}

.login-close-text {
  display: none;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
  color: white;
}
.login-form input {
  border-radius: 3px;
  border: 1px solid #37336b;
  background: white;
  color: black;
  padding: 3px;
  margin: 2px;
}

#login-email-label-and-input {
  align-self: flex-end;
}

#login-password-label-and-input {
  align-self: flex-end;
}

.login-button-form-submit {
  align-self: flex-end;
  border: 1px solid #afb9c4;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
  color: #f4f5f7;
  cursor: pointer;
  font-weight: 300;
}

.error-message {
  color: #ce4a5c;
}

.additional-link-container a {
  color: #ffffff;
  cursor: pointer;
}

.additional-link-container a:hover {
  color: #a8b3be;
  text-decoration: none;
}
