<template name="commentbox">
  <div class="hidden sentiment-card-id">{{id}}</div>
  <div class="comment-box">
    <core-header-panel mode="waterfall" id="core_header_panel" class="comment-box-header-panel">
      <core-toolbar id="core_toolbar" class="comment-box-toolbar">
        <paper-fab class="close-comment-box" icon="close"></paper-fab>
        <div class="comment-box-top">
          <h1 class="comment-box-title">{{name}}</h1>
        </div>
        <div class="card-sentiment-dot"></div>
      </core-toolbar>
      <section class="container-fluid comment-box-section">
        {{#each comments}}
          {{>singlecommentbox}}
        {{/each}}
      </section>
    </core-header-panel>
    <div class="comment-box-bottom">
      <paper-input class="comment-box-input" label="Escribir un comentario…"></paper-input>
      <paper-fab class="comment-box-send" icon="send"></paper-fab>
    </div>
  </div>
</template>
