/*
* Comment-box CSS Template Definition.
*
*/
.comment-box {
  top: 0;
  position: absolute;
  background: #f6f7f8;
  width: 100%;
  height:100%;
  z-index:100;
}

.comment-box .comment-box-toolbar{
  background: #34495c;
  border-bottom: 8px solid #3a516a;
  height: 140px;
  padding: 15px;
}


.comment-box-core-header-panel {
  height: 110px;
  background: #34495c;
  position: static;
}

.comment-box paper-fab {
  background: #2baac4;
}

.comment-box .close-comment-box {
  background: #e75869;
}

.comment-box .comment-box-title {
  font-family: roboto, Helvetica, sans-serif;
  color: white;
  font-size: 28px;
  font-weight: 100;
}

.comment-box .commentbox-sentiment-dot {
  width: 10px;
  height:10px;
  background: #68ca75;
  border-radius: 50%;
  margin: 3px;
  float: left;
}

.comment-box .card-sentiment-dot {
  width: 10px;
  height:10px;
  background: #68ca75;
  border-radius: 50%;
  margin: 3px;
}

.comment-box-section {
  background: #f6f7f8;
  padding-bottom: 60px;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
}

.comment-box .comment-box-bottom {
  position: flex;
  flex-direction: row;
  background: #f6f7f8;
  position: absolute;
  bottom: 0px;
  width: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
}

.comment-box .comment-box-input{
  flex: 3 0 0;
  width: 75%;
  margin: 5px;
  padding-left: 20px;
}

.comment-box .comment-box-send{
  position: absolute;
  bottom: 25px;
  align-self: flex-end;
  justify-content: center;
}

/** Radio Buttons **/
paper-radio-button.blue::shadow   #onRadio { background-color: #4285f4; }
paper-radio-button.green::shadow  #onRadio { background-color: #29b872; }
paper-radio-button.yellow::shadow #onRadio { background-color: #f9bd3e; }
paper-radio-button.red::shadow    #onRadio { background-color: #e35a6d; }

paper-radio-button[checked].blue::shadow   #offRadio { border-color: #4285f4; }
paper-radio-button[checked].green::shadow  #offRadio { border-color: #29b872; }
paper-radio-button[checked].yellow::shadow #offRadio { border-color: #f9bd3e; }
paper-radio-button[checked].red::shadow    #offRadio { border-color: #e35a6d; }
paper-radio-button::shadow #offRadio { border-color: #8b95a0; }


paper-radio-button.blue::shadow   #ink { color: #4285f4; }
paper-radio-button.green::shadow  #ink { color: #29b872; }
paper-radio-button.yellow::shadow #ink { color: #f9bd3e; }
paper-radio-button.red::shadow    #ink { color: #e35a6d; }

paper-radio-button::shadow #radioLabel {
  font-family: roboto, Helvetica, sans-serif;
  color: #a7afb7;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
}
