/*
 * CommentsRibbon CSS.
 */

.ribbon {
  width: 100%;
  height: auto;
  color: #a9aeb6; /*ececec;*/
  cursor: pointer;
  overflow: hidden;
  background: #f4f5f6;
  border-bottom: 1px solid #ececec;
}

.ribbon-actions {
  background: white;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  color: #a9aeb6;
  border-bottom: 1px solid #ececec;
}
.ribbon-actions .fa {
  font-size: 12px;
  color: #a9aeb6;
  padding: 2px;
}

.ribbontext {
  font-size: 12px;
  font-weight: 300;
  text-overflow: ellipsis;
  color: #a9aeb6; /*ececec;*/
}
