/*
 * CommentsRibbon CSS.
 */

.ribbon {
  width: 100%;
  height: auto;
  color: #a9aeb6; /*ececec;*/
  cursor: pointer;
  overflow: hidden;
  /* border-top:    1px solid #ececec; */
  /*border-top: 1px solid #ececec;*/
}

.ribbontext {
  font-size: 12px;
  font-weight: 300;
  text-overflow: ellipsis;
  color: #a9aeb6; /*ececec;*/
}
