/*
 * KeywordsRibbon CSS
 */

.keyword {
  color: #a9aeb6;
  font-size: 10px;
  font-weight: 400;
  font-family: roboto, helvetica;
  background: #f6f7f8;
  border-radius: 5px;
  padding: 0px;
  margin: 2px;
  text-transform: capitalize;
  border: 1px solid #ececec;
}

.keyword-container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 0px solid #ececec;
}

.keyword-icon {
  float: left;
  margin: 10px;
}
