/*
 * KeywordsRibbon CSS
 */

.keyword {
  color: #ececec;
  font-size: 10px;
  font-weight: 300;
  font-family: roboto, helvetica;
  opacity: 0.9;
  filter: alpha(opacity=90);
  background: none;
  border-radius: 5px;
  border: 1px solid rgba(255,255,255,0.45);
  padding: 0px 0px 0px 0px;
  margin: 2px;
  text-transform: capitalize;
  text-shadow: 0px 0px 5px rgba(25,25,25, 0.45);
}

.keyword-container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.keyword-icon {
  float: left;
  margin: 10px;
}
