.sentiment-map {
  border-radius: 50%;
  width: 160px;
  height:160px;
  box-shadow: inset 0px 0px 4px 0px rgba(30,30,30,.55);
  margin-bottom: 15px;
  cursor: pointer;
}

.map-canvas {
  z-index: -1;
  border-radius: 50%;
}
