<template name="sentimentcard">
  <div class="hidden sentiment-card-id">{{_id}}</div>
  <div class="avg-sentiment hidden">{{sentimentavg}}</div>
  <div class="sentiment-card col-xs-6 flip-container" ontouchstart="this.classList.toggle('hover');" id="123456">
    <div class="flipper">
      <div class="sentiment-card-front">
        <!-- front content -->
        {{>sentimentmap}}
        {{>commentsribbon}}
        <div class="card-title card-title-front stopselect">{{name}}
          <div class="glyphicon glyphicon-transfer"></div>
        </div>
      </div>
      <div class="sentiment-card-back">
        <!-- back content -->
        {{>sentimentbars}}
        {{>keywordsribbon}}
        <div class="card-title card-title-back stopselect">{{name}}
          <div class="glyphicon glyphicon-transfer"></div>
        </div>
      </div>
    </div>
    <div class="action-bar text-center stopselect">
      <div class="past-events action-element col-xs-6">
        <div class="fa fa-clock-o"></div>
        <paper-ripple class="recenteringTouch" fit></paper-ripple>
      </div>
      <div class="share-card action-element col-xs-6">
        <div class="share-card-fa fa fa-share-alt"></div>
        <paper-ripple class="recenteringTouch" fit></paper-ripple>
      </div>
      <div class="comment-card action-element col-xs-6 ">
        <div class="fa fa-comments"></div>
        <div class="action-counter">{{commentcounter this._id}}</div>
        <paper-ripple class="recenteringTouch" fit></paper-ripple>
      </div>
    </div>
  </div>
</template>
