<template name="sentimentbars">
  <paper-fab icon="redo" class="dismiss-bars hidden" mini></paper-fab>
  <div class="barscontainer stopselect">
    <div class="sentimentbar verynegative">
      <div class="emoticon hidden">D:</div>
      <div class="bar-value hidden vnegative-value">{{vnegative}}%</div>
      <paper-ripple id="ripple" fit class="recenteringTouch"></paper-ripple>
    </div>
    <div class="sentimentbar negative">
      <div class="emoticon hidden">):</div>
      <div class="bar-value hidden negative-value">{{negative}}%</div>
      <paper-ripple id="ripple" fit class="recenteringTouch"></paper-ripple>
    </div>
    <div class="sentimentbar neutral">
      <div class="emoticon hidden">:|</div>
      <div class="bar-value hidden neutral-value">{{neutral}}%</div>
      <paper-ripple id="ripple" fit class="recenteringTouch"></paper-ripple>
    </div>
    <div class="sentimentbar positive">
      <div class="emoticon hidden">:)</div>
      <div class="bar-value hidden positive-value">{{positive}}%</div>
      <paper-ripple id="ripple" fit class="recenteringTouch"></paper-ripple>
    </div>
    <div class="sentimentbar verypositive">
      <div class="emoticon hidden">:D</div>
      <div class="bar-value hidden vpositive-value">{{vpositive}}%</div>
      <paper-ripple id="ripple" fit class="recenteringTouch"></paper-ripple>
    </div>
  </div>
</template>
