.barscontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.dismiss-bars {
  position: absolute;
  top: 35px;
  right: 20px;
  background: #3498db;
}

.sentimentbar {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  bottom: 0px;
  height: 100px;
  float: left;
  width: 28px;
  margin-bottom: 40px;
  cursor: pointer;
  position: relative;
  text-align: center;
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  transition: height 1s;
  border-radius: 2px 2px 0px 0px;
  box-shadow: 0px 0px 3px 0px rgba(23, 23, 23, 0.45);
}
.sentimentbar .emoticon {
  font-weight: 100;
  font-family: Helvetica, Arial;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.75);
  /*align-self: flex-start;*/
}

.sentimentbar .bar-value {
  font-size:   10px;
  font-weight: 400;
  font-family: Helvetica, Arial;
  color: rgba(0, 0, 0, 0.35);
  /*align-self: flex-end;*/
}

/**** Sentiments ****/

.verynegative {
  background: #e13b1d;
  border-bottom: 4px solid #c8341a;
  height: 100px;
}

.negative {
  background: #FF8A00;
  border-bottom: 4px solid #e56b05;
  height: 100px;
}

.neutral {
  background: #FBBF00;
  border-bottom: 4px solid #dd9f08;
  height: 100px;
}

.positive {
  background: #67c61a;
  border-bottom: 4px solid #5db417;
  height: 100px;
}

.verypositive {
  background: #18ba5f;
  border-bottom: 4px solid #15a554;
  height: 100px;
}
