/*
 * Sentimentcard CSS.
 */

.sentiment-card {
  min-width: 350px;
  max-width: 350px;
  height: 350px;
  margin-bottom: 10px;
  margin-top:    10px;
  display: inline;
}

.sentiment-card #card-content {
  /*width:  100%;
  height:300px;
  background: #2ECC71;
  border-radius: 5px 5px 0px 0px;
  font-family: 'Roboto','Helvetica', sans-serif;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);*/
  /*
  * Make the backside clickable
  */
  -webkit-transform: translate3d(0,0,0);
  transform:translateZ(1px);
  -webkit-transform:translateZ(1px);
  -moz-transform:translateZ(1px);
  -webkit-font-smoothing: antialiased;
  /*border-bottom: 1px solid rgba(48, 48, 48,0.1);*/
}

.sentiment-card .card-title {
  padding: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
  width:  100%;
  font-size: 27px;
  font-weight: 100;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.sentiment-card-data-source {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  opacity: 0.85;
  filter: alpha(opacity=85);
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 11px;
}

.sentiment-card .action-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  /*background: #26ae60;*/
  width: 320px;
  height: 50px;
  border-radius: 0px 0px 5px 5px;
  /*box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55);*/
  top: 300px;
  position:relative;
  /*z-index: -1;*/
  /*border-left:  1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  border-bottom:1px solid #d7d7d7;*/
  line-height: 0;
}

.sentiment-card .card-title .glyphicon {
  font-size: 14px;
  color: white;
  /*color: #107fc9;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
  padding:2px;*/
}

.fa {
  font-size: 24px;
  color: rgba(255,255,255,0.85);
}

.share-card {
  border-left: 1px solid rgba(48, 48, 48,0.1);
  border-right:1px solid rgba(48, 48, 48,0.1);
}

.sentiment-card .action-counter {
  display: inline;
  color: white;
  opacity: 0.65;
  filter: alpha(opacity=65);
  font-family: 'Roboto','Helvetica', sans-serif;
  font-weight: 100;
}

.sentiment-card  .action-element {
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  display:inline;
}

/*.action-element:active {
background: #2ecc71;
border: 0px;
box-shadow: 0px;
}*/

/*Flip Code*/

/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000;
  perspective: 1000;
}
/* flip the pane when hovered */
/*.flip-container:hover .flipper, .flip-container.flip .flipper {*/
.flip-container.flip .flipper {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.sentiment-card-front, .sentiment-card-back {
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top:  0;
  left: 0;
  width:   100%;
  height: 300px;
  /*background: #2ECC71;*/
  border-radius: 5px 5px 0px 0px;
  font-family: 'Roboto','Helvetica', sans-serif;
  /*box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55);*/
  /*border-top:   1px solid #d7d7d7;
  border-left:  1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;*/
}

/* front pane, placed above back */
.sentiment-card-front {
  -webkit-transform: translate3d(0,0,0);
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);

  /** Flex positioning **/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  /** Safari **/
  -webkit-display: -webkit-box;
  -webkit-display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: flex-end;
}

/* back, initially hidden pane */
.sentiment-card-back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

paper-ripple {
  color: #4285f4;
}
