/*
 * Sentiment map CSS.
 */

.sentiment-map {
  display: inline-block;
  width: 100%;
  height: 85%;
  z-index: -1;
  cursor: pointer;
}

.map-canvas {
  display: inline-block;
  width: 100%;
  height:100%;
}
