<template name="sentimentbars">
  <div class="row text-center stopselect">
    <div class="sentimentbar verynegative">
      <div class="emoticon"></div>
      <core-icon icon='' size='24' id="favorite"></core-icon>
      <paper-ripple id="ripple" fit class="recenteringTouch"></paper-ripple>
    </div>
    <div class="sentimentbar negative">
      <div class="emoticon"></div>
      <core-icon icon='' size='24' id="favorite"></core-icon>
      <paper-ripple id="ripple" fit class="recenteringTouch"></paper-ripple>
    </div>
    <div class="sentimentbar neutral">
      <div class="emoticon"></div>
      <core-icon icon='' size='24' id="favorite"></core-icon>
      <paper-ripple id="ripple" fit class="recenteringTouch"></paper-ripple>
    </div>
    <div class="sentimentbar positive">
      <div class="emoticon"></div>
      <core-icon icon='' size='24' id="favorite"></core-icon>
      <paper-ripple id="ripple" fit class="recenteringTouch"></paper-ripple>
    </div>
    <div class="sentimentbar verypositive">
      <div class="emoticon"></div>
      <core-icon icon='' size='24' id="favorite"></core-icon>
      <paper-ripple id="ripple" fit class="recenteringTouch"></paper-ripple>
    </div>
  </div>
</template>
