.singlecommentbox {
  /** Max characters -> 280 **/
  background: #ffffff;
  font-size: 12px;
  height: 100%;
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  padding: 3px;
  margin-left:  5px;
  margin-right: 5px;
  flex-flow: row;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
}

.user-photo {
  min-width: 50px;
  min-height:50px;
  max-width: 50px;
  max-height:50px;
  margin: 5px;
  cursor: pointer;
  background-image: url("images/user1.png");
  background-size: cover;
  border-radius: 50%;
}

.user-comment {
  margin: 8px;
  color: #3c4045;
}

.user-comment p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  /*text-align: justify;*/
}

.user-sentiment {
  min-width: 10px;
  min-height:10px;
  max-width: 10px;
  max-height:10px;
  /*background: #68ca75;*/
  border-radius: 50%;
  margin: 3px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.singlecommentbox:nth-child(odd) {
  background: #f7f8f8;
}

.comment-box-author {
  color: #424242;
  cursor: pointer;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 5px;
}

.comment-box-source {
  font-size: 9px;
  text-transform: capitalize;
  font-weight: 300;
  color: #6e6e6e;
  font-family: Roboto, Helvetica, sans-serif;
}

.comment-box-meta-end {
  position: absolute;
  right: 10px;
  flex-flow: row;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
