.singlecommentbox {
  /** Max characters -> 280 **/
  background: #ffffff;
  font-size: 12px;
  height: 100%;
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  padding: 3px;
  margin-left:  5px;
  margin-right: 5px;
  flex-flow: row;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center
}

.user-photo {
  min-width: 50px;
  min-height:50px;
  max-width: 50px;
  max-height:50px;
  margin: 5px;
  flex-grow: 1;
  cursor: pointer;
}

.user-comment {
  margin: 6px;
  color: #3c4045;
  width: auto;
  flex-grow: 2;
}

.user-comment p{
  padding: 0px;
  margin:  0px;
  text-align: justify;
}

.user-sentiment {
  min-width: 10px;
  min-height:10px;
  max-width: 10px;
  max-height:10px;
  /*background: #68ca75;*/
  border-radius: 50%;
  margin: 3px;
  flex-grow: 1;
}

.singlecommentbox:nth-child(odd) {
    background: #f6f7f8;
}

.comment-box-keywords-container {
  flex-flow: row;
  display: flex;
  flex-direction: row;
}
.comment-box-keywords-title {
  display: inline;
  text-decoration: none;
  color: #727980;
  font-size: 10px;;
}
.comment-box-keywords {
  display: inline;
  text-decoration: underline;
  color: #727980;
  font-size: 10px;
  cursor: pointer;
}
